::ng-deep .notification-badge .mat-badge-content {
    background-color: #F8456E !important;
    color: white !important;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0 0 0 2px #FFEFF1;
}